$desc: 1100
$tab: 800
$mob: 600

=r($width)
    @media screen and (max-width: $width + 'px')
        @content
=roboto
    font-family: 'Roboto', sans-serif
*
    box-sizing: border-box
    transition: .25s
    margin: 0

    padding: 0
    &::selection
        background: #ED145B
        color: white
html
    scroll-behavior: smooth

body
    min-width: 375px
    max-width: 2000px
    font-family: 'Open Sans', sans-serif

a
    text-decoration: none
    color: inherit
    transition: .25s
img
    display: block
    max-width: 100%
mark
    background: transparent
button
    background: transparent
    border: none
    outline: none
    cursor: pointer
    transition: .25s
.inner
    width: 1140px
    margin: 0 auto
    padding: 0 20px
    +r($desc)
        width: 100%
.is-hidden
    display: none

.overlay
	position: fixed
	width: 100%
	height: 100vh
	left: 0
	top: 0
	right: 0
	bottom: 0
	background: rgba(0,0,0, .7)


.promo
    position: relative
    max-height: 849px
    padding: 174px 0 160px 0
    overflow: hidden
    &__video
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        width: 100%
        z-index: -1
        // max-height: 849px
    &__top
        position: absolute
        left: 0
        top: 0
        z-index: 2
        background: #000003
        height: 60px
        width: 100%
    &__box
        display: flex
        justify-content: space-between
    &__left
        width: 100%
        max-width: 621px
    &__right
        width: 100%
        max-width: 340px
        outline: 1px solid red
        height: 514px

    &__title
        font-size: 50px
        line-height: 70px
        font-weight: bold
        color: white
    &__rating-img
        margin-top: 50px






//generate svg icons with classes
$svg-icons: [ 'mark' 20px 20px ]

@each $name, $width, $height in $svg-icons
    .icon-#{$name}
        width: $width
        height: $height