$desc: 1100
$tab: 800
$mob: 600

=r($width)
    @media screen and (max-width: $width + 'px')
        @content
=roboto
    font-family: 'Roboto', sans-serif
*
    box-sizing: border-box
    transition: .25s
    margin: 0

    padding: 0
    &::selection
        background: #00B649
        color: white
html
    scroll-behavior: smooth

body
    min-width: 375px
    max-width: 2000px
    margin: 0 auto
    font-family: 'Open Sans', sans-serif
    color: #000003

a
    text-decoration: none
    color: inherit
    transition: .25s
img
    display: block
    max-width: 100%
mark
    background: transparent
button
    background: transparent
    border: none
    outline: none
    cursor: pointer
    transition: .25s
.inner
    width: 1140px
    margin: 0 auto
    padding: 0 20px
    +r($desc)
        width: 100%
.is-hidden
    display: none

.overlay
	position: fixed
	width: 100%
	height: 100vh
	left: 0
	top: 0
	right: 0
	bottom: 0
	background: rgba(0,0,0, .7)


.promo
    position: relative
    max-height: 849px
    padding: 174px 0 160px 0
    overflow: hidden
    &__video
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        width: 100%
        z-index: -1
        // max-height: 849px
    &__top
        position: absolute
        left: 0
        top: 0
        z-index: 2
        background: #000003
        height: 60px
        width: 100%
    &__box
        display: flex
        justify-content: space-between
    &__left
        width: 100%
        max-width: 621px
    &__right
        width: 100%
        max-width: 340px
        height: 514px

    &__title
        font-size: 50px
        line-height: 70px
        font-weight: bold
        color: white
    &__rating-img
        margin-top: 50px


.prefooter
    padding: 120px 0 240px 0
    background: url('../img/prefooter-bg.png') center bottom no-repeat
.steps
    margin-top: 240px
    margin-bottom: 240px
    &__box
        display: flex
        justify-content: space-between
    &__item
        margin-right: 10px
        text-align: center
        &:last-of-type
            margin-right: 0
    &__item-img
        display: flex
        justify-content: center
        min-height: 106px
    &__item-title
        font-size: 26px
        font-weight: bold
        margin: 30px 0 15px 0
        display: block
    &__item-text
        color: #868695
        font-size: 16px
        +roboto
        line-height: 24px
        max-width: 235px
        margin: 0 auto
.accept
    &__box
        display: flex
        justify-content: space-between
        align-items: center
    &__img
        &:not(:last-of-type)
            margin-right: 10px
        
.footer
    padding: 55px 0 50px 0
    background: #000003
    &__socials
        display: flex
        justify-content: center
        align-items: center
        a
            display: inline-block
            padding: 5px 20px
            border-left: 1px solid rgba(255,255,255, .15)
            &:last-of-type
                border-right: 1px solid rgba(255,255,255, .15)
                
    &__copy
        display: block
        text-align: center
        font-size: 14px
        margin-top: 15px
        color: white
        +roboto

.instruments
    &__title
        margin-bottom: 20px !important
    &__subtitle
        margin: 0 auto
        max-width: 600px
        font-size: 26px
        line-height: 38px
        text-align: center
        margin-bottom: 90px

.section-title
    font-weight: bold
    font-size: 38px
    line-height: 52px
    margin-bottom: 100px
    text-align: center

.instruments-block-descr-btn
    background: #00B649
    border-radius: 3px
    color: white
    font-weight: bold
    font-size: 26px
    width: 100%
    text-align: center
    height: 65px
    line-height: 65px
    &:hover
        background: orange

//generate svg icons with classes
$svg-icons: [ 'thumb' 102px 106px, 'graph' 106px 104px, 'comp' 107px 103px, 'fb' 9px 16px, 'twitter' 17px 14px, 'youtube' 17px 13px, 'tg' 17px 14px]

@each $name, $width, $height in $svg-icons
    .icon-#{$name}
        width: $width
        height: $height