doctype html
html(lang="pl")
	head
		meta(charset="utf-8")
		block title
			title Title
		block head
			meta(name="keywords" content="")
			meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/styles.css")
		link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap' rel='stylesheet')
		link(href='css/select2.css' rel='stylesheet')
		link(href='css/form.css' rel='stylesheet')
		link(href='css/popup.css' rel='stylesheet')

	body
		#app
			block content
		script(src='https://twisterfilestorage.blob.core.windows.net/twister/_regFormExternalUtm.min.js')
		script(src='https://lp.monfex.com/maxi-trade-reg-form.js')
		script.
			var translations = {
				yourName: "Tu nombre",
				email: "E-mail",
				password: "Hasło",
				code: "Kod",
				phone: "Telefon",
				termsDescr: "Zaznaczając to pole, wyrażam zgodę na <a href='https://www.monfex.com/privacy-policy'> Politykę Prywatności </a>  i <a href='https://www.monfex.com/terms-of-service'> Warunki Świadczenia Usług.. </a>",
				btnDescr: "Dołącz Teraz",
				selectCountry: "Wybierz kraj",
				fieldRequired: "Se requiere campo.",
				invalidFormat: "Formato inválido.",
				weak: "Débil: ingrese una contraseña más segura.",
				acceptTerms: "Debe aceptar los \"Términos de uso\" y la \"Política de privacidad\" para completar el registro.",
				emailAlreadyExists: "El Email ya existe.",
				somethingWentWrong: "Algo salió mal.",
				invalidNumber: "Número invalido",
				invalidCountryCode: "Código de país no válido",
				tooShort: "Demasiado corto",
				tooLong: "Demasiado largo",
				mailingDescr: 'Acepto que mi dirección de correo electrónico sea almacenada con el propósito de recibir información y ofertas comerciales sobre plataformas y software de compraventa.'
			}
		script.
			var srcUtils = "intlTel/js/utils.js";

			document.addEventListener('DOMContentLoaded', function () {
				var formContainer = document.querySelectorAll('._mnfx-form-container');
					if (formContainer.length > 0) {
						for (var i = 0; i < formContainer.length; i++) {
							settingRegisterForm(formContainer[i], { fname: true });
						}
					}
			});
		script(src="js/app.js")