doctype html
html(lang="pl")
	head
		meta(charset="utf-8")
		block title
			title Title
		block head
			meta(name="keywords" content="")
			meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/styles.css")
		link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap' rel='stylesheet')
		link(href='css/select2.css' rel='stylesheet')
		link(href='css/form.css' rel='stylesheet')
		link(href='css/popup.css' rel='stylesheet')
		link(href='css/instruments.css' rel='stylesheet')

	body
		#app
			block content
		script(src='https://twisterfilestorage.blob.core.windows.net/twister/_regFormExternalUtm.min.js')
		script(src='https://lp.monfex.com/maxi-trade-reg-form.js')
		script(src='js/jquery-ui.js')
		script(src='js/owl.carousel.js')
		script(src='js/Chart.bundle.js')
		script(src='js/script.min.js')
		script.
			var srcUtils = "intlTel/js/utils.js";
		script.
			var translations = {
				yourName: "Tu nombre",
				email: "E-mail",
				password: "Hasło",
				code: "Kod",
				phone: "Telefon",
				termsDescr: "Zaznaczając to pole, wyrażam zgodę na <a href='https://www.monfex.com/privacy-policy'> Politykę Prywatności </a>  i <a href='https://www.monfex.com/terms-of-service'> Warunki Świadczenia Usług.. </a>",
				btnDescr: "Dołącz Teraz",
				selectCountry: "Wybierz kraj",
				fieldRequired: "Pole jest wymagane.",
				invalidFormat: "Nieprawidłowy format.",
				weak: "Słabe - Wpisz silniejsze hasło.",
				acceptTerms: "Musisz zaakceptować \"Warunki Użytkowania Serwisu\" i \"Politykę Prywatności\" w celu zakończenia rejestracji.",
				emailAlreadyExists: "Email już istnieje.",
				somethingWentWrong: "Coś poszło źle.",
				invalidNumber: "Nieprawidłowy numer",
				invalidCountryCode: "Invalid country code",
				tooShort: "Demasiado corto",
				tooLong: "Demasiado largo",
			}
		script.

			document.addEventListener('DOMContentLoaded', function () {
				var formContainer = document.querySelectorAll('._mnfx-form-container');
					if (formContainer.length > 0) {
						for (var i = 0; i < formContainer.length; i++) {
							settingRegisterForm(formContainer[i]);
						}
					}
			});
		
